
.logo {
	
	margin: 35px 50px;
}

.logo .myreflogo  {
	width:50%;
	display: inline-block;
}

.logo .grouplogo {
	width: 50%;
	display: inline-block;
}
.logo .myreflogo img {
	width:150px; 
	float: left;

}

.logo .grouplogo img {
	width: 200px;
	float:right; 
}

.banner {
	background-color: #A31C21;
	width:100%;
	height:auto; 
	padding:50px;
}

.banner .profile {  
	display: inline-block;
	float:left; 
}

.profile img {
	width: 200px;
	height:auto; 
	border-radius:125px;
}
.content {

	 display: inline-block;
	 padding-left:60px;
}

.content h1 {

	color: #fff;
	text-transform:uppercase; 
	font-family: Bungee;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
}
.content p {

	color: #fff;
	text-transform:uppercase; 
	font-family: Bungee;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;

}
li {
	list-style: none;
}


.social {
	background: #fff;
	width:50px;
	height:auto;
	border-radius:50px;
	padding:5px;   
	margin:8px;
	color:#000;   
}

.partner {
	display:inline-block;
	float:right;  

}	
.partner h2 {

	color: #fff;
	text-transform:uppercase; 
	font-family: Bungee;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 43px;
}
.partner img {
	width:300px;
}
.referal_cards {
	padding: 32px 0;
}

.referal_cards .creditcard {

	display:inline-block;
	width:33.333%;
	height:auto;
	text-align:center; 
	padding: 30px 0;   
}

.insidecard {

	max-width:342px;
	margin:0 auto;  
}

.insidecard:hover {
	border: 5px solid  #87ceeb;
	border-radius:15px;
}

.inputdata {
	background-color: #394989;
	border:none;
	border-radius: 20px;
	line-height:30px;
	width: 75%;
	color:#fff;
	font-size: 18px;
	text-align: center;
}

.inputdata:focus {

 	outline: none;

}

.creditcard .addicons {

	width:100px;
	height: 100px;
	border:5px solid #000;
	border-radius: 50%;
	margin-top: 42px;
}
.add {
	width:333px;
	height: 209px;
	border: 5px solid  #87ceeb;
	position: absolute;
	top: 462px;
	margin-left:67px;
	border-radius: 20px;
}
form {
	text-align: center;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	.partner{
		float: none;
	}
	.banner {
		text-align: center;
	}
	.add {
		position: absolute;
		top:595px;
		margin-left:8px;
	}
}

	
@media only screen and (max-width: 991px) {

	.banner {
		text-align: center;
	}
	.content {
		padding-left:0px; 
	}
	.content h1 {
		padding-top: 25px;
	}

	.partner {
		float:none;
		text-align: center; 
	}
	.partner h2 {
		padding-top:23px;
	}
	.banner .profile {
	    display:block;
	     float:none;
	}


	.referal_cards .creditcard {

		display:inline-block;
		width:50%;
		height:auto;
		padding: 15px 0;   
	}
	.add {
		position: absolute;
		top:831px;
		margin-left:30px;

	}
}



@media only screen and (max-width: 767px) {


	.logo {
		margin: 35px 15px;
	}	    
	.logo .grouplogo img {
	    width: 150px;
	}
	.banner {
		padding: 50px 30px;
		text-align: center;
	}
	.banner .profile {
	    display:block;
	    float:none;
	    text-align: center;
	}

	.content {
		padding-left:0px; 
	}
	.content h1 {

		font-size: 26px;
		text-align:center;
		padding-top:10px;  
		
	}
	.content p {

		font-size: 18px;
		text-align:center;  	
	}
	.social{
		width: 34px;
	}

	.partner {
		float: none;
	}


	.partner h2 {
		font-size:18px;
		text-align:center; 
	}

	.referal_cards .creditcard {

		display:block;
		width:100%;
		height:auto;
		padding: 15px 0;   
	}

	.add {
		width:330px;
		height: 209px;
		border: 5px solid  #87ceeb;
		position:unset;
		margin: 0 auto;
	}

}

